/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

* {
    font-family: 'Beleren Bold', serif;
}

.navbar-brand {
    img {
        max-height: 50px;
    }
}

// Centering H1 page titles and 70px vertical padding
.entry-header,
.page-header {
    text-align: center;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    h1 {
        margin-bottom: 0;
        font-size: 60px;
    }
}